
header {
    background-color: #f36464;
    text-align: center;
    margin: 15px;
    padding: 20px;
    border-color: black;
    border-bottom-color: black;
    border-width: 4px;
    border-style: solid;
    text-size-adjust: 5px;
    font-family: 'Merriweather', serif;
}

body {
   background-color: lightgray;
}


.card {
    display: flex;
    flex-wrap: wrap;
    border-color: black;
    border-bottom-color: black;
    border-width: 4px;
    border-radius: 5%;
    margin: 10px;
    background-color: #ee9494;
}

.card.quoteBox {
        text-align: center;
}

h2 p {
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

#source-author {
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.outline {
    outline: solid 1px black;


}
