header {
    background-color: #ff4d4d;
    text-align: center;
    margin: 15px;
    padding: 20px;
    border-color: black;
    border-bottom-color: black;
    border-width: 4px;
    border-style: solid;
    text-size-adjust: 5px;
    font-family: 'Merriweather', serif;
}